//Colors
$verydarkblue:hsl(243, 87%, 12%);
$desaturatedblue:hsl(238, 22%, 44%);
$brightblue:hsl(224, 93%, 58%);
$moderatecyan:hsl(170, 45%, 43%);
$lightgrayishblue:hsl(240, 75%, 98%);
$lightgray:hsl(0, 0%, 75%);
$white:hsl(0, 0%, 100%);
$black:hsl(0, 0%, 0%);
// Fonts 
$raleway:'Raleway', sans-serif;
$opensans:'Open Sans', sans-serif;

// Animation 
$animate:all 0.2s ease-in-out;




