//Remove the default margins, padding, and box-sizing from all of the elements on the page.
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

//Choose a background color for the body of the page.
body {
  background-color: lightblue;
}

//Center-align the main heading ("Log In") and add a bottom margin.
h1 {
  margin-bottom: 8%;
  text-align: center;
}

//Style the paragraph element ("or") to be center with horizontal lines on each side.
p {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
}

p span {
  background:#fff;
  padding:0 10px;
}

//Add some breathing room around the input fields.
input {
  margin-bottom: 3%;
}

input:last-of-type {
  margin-bottom: 0;
}

input, button {
  padding: 3%;
  width: 100%;
}

//Vertically and horizontally center the login-container.
.login-container {
  background-color: white;
  padding: 7%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  /* horizontal align */
  width: 40vw;
  margin-left: 30vw;
  /* vertical align */
  height: 70vh;
  margin-top: 15vh;
}

//Hide the create-acct div on the original loading of the page.
#create-acct {
  display: none;
}

//Style the submit, create-acct-btn and return-btn.
button:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
}

#submit, #create-acct-btn {
  background-color: #0583D2;
  color: white;
  border: none;
  margin-top: 5%;
}

#return-btn {
  background: none;
  color: grey;
  text-decoration: underline;
  border: none;
  margin-top: 3%;
}

#sign-up {
  border: none;
}
