html {
  margin: 0;
  padding: 0;
}
:root {
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);
  --blue: hsl(248, 32%, 49%);
  --DarkBlue: hsl(249, 10%, 26%);
  --GrayishBlue: hsl(246, 25%, 77%);
}
body {
  background: url('images/bg-intro-desktop.png') no-repeat;
  background-color: var(--DarkBlue);
  background-attachment: fixed;
  overflow-x: hidden;
}
.container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 30px;
  width: 80%;
  margin: 0 auto;
  margin-top: 5%;
}
.textcontainer {
  color: #ffffff;
  grid-row: 2;
}
.form_container {
  grid-column: 2 / span 3;
  grid-row: 1 / span 3;
}
h1 {
  color: #ffffff;
  font-family: "PoppinsBold";
  font-weight: 400;
  font-size: 50px;
  line-height: 3.8rem;
}
p {
  color: #ffffff;
  font-family: "PoppinsRegular";
}

/* Form Conainer CSS */
button {
  width: 100%;
  height: 50px;
  background-color: var(--blue);
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-family: "PoppinsSemibold";
  outline: none;
  text-transform:none;
}
.trytext {
  align-self: center;
}
form {
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
  margin: 0 auto;
}
.forminput {
  background: #ffffff;
  border-radius: 8px;
  margin-top: 2em;
  padding-bottom: 1em;
  padding-left: 35px;
  padding-right: 35px;
}
.field {
  display: block;
  margin: 0 auto;
  border: 1px solid var(--GrayishBlue);
  margin-top: 35px;
  width: 100%;
  height: 50px;
  border-radius: 4px;
  cursor: text;
}
input {
  font-family: "PoppinsMedium";
  color: #000000;
  padding-left: 14px;
  padding-top: 2px;
  border: none;
  outline: none;
  align-items: center;
  height: 100%;
  width: 95%;
  background: none;
}
::placeholder {
  color: #000000;
  opacity: 0.7;
  font-size: 1rem;
}
.errmsg {
  color: var(--red);
  font-family: "PoppinsMedium";
  font-size: 12px;
  float: right;
  font-style: italic;
  margin: 0;
  display: none;
}

.claimbutton {
  background-color: var(--green);
  font-size: 1rem;
  font-weight: 600;
  display: block;
  margin: 0 auto;
  width: 100%;
  margin-top: 25px;
  text-transform:uppercase;
}
.claimbutton:hover {
  cursor: pointer;
}
.spantext {
  font-family: "PoppinsMedium";
  width: 90%;
  color: var(--GrayishBlue);
  font-size: 12px;
  margin: 0 auto;
}
p.spantext {
  text-align: center;
}
.spantext a {
  color: var(--red);
}
footer {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}

/* For Mobile */

@media (min-width: 320px) and (max-width: 480px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 95%;
  }
  body {
    background: url('images/bg-intro-mobile.png') no-repeat;
    background-color: var(--DarkBlue);
    background-attachment: fixed;
  }
  .text-container {
    display: flex;
  }
  h1 {
    font-size: 30px;
    font-weight: 200;
    line-height: 2.5rem;
    text-align: center;
    padding-top: 1em;
  }
  p {
    font-size: 15px;
    text-align: center;
  }
  button {
    height: 75px;
    padding-left: 75px;
    padding-right: 75px;
    border-radius: 10px;
    width: 90%;
    display: block;
    margin: 0 auto;
    margin-top: 5em;
  }
  .forminput {
    margin-top: 2em;
    padding-left: 10px;
    padding-right: 10px;
  }
  form {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 90%;
  }
  .field {
    margin-top: 20px;
  }
  .claimbutton {
    font-size: 1rem;
    padding: 0;
  }
  .attribution {
    font-size: 10px;
    text-align: center;
  }
}

/* ********** Code Freeze ******************** */
